---
import { Icon } from "astro-icon/components";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import background from "../assets/background.svg";

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}
const githubUrl = "https://github.com/ChaiKeshab";
const linkedinUrl = "https://www.linkedin.com/in/keshab-chai/";
const twitterUrl = "https://x.com/Chai2916";

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <Head title={title} description={description} />
    </head>
    <body>
        <img id="background" src={background.src} alt="" fetchpriority="high" />

        <Navigation />

        <div class="flex justify-between items-end">
            <div
                class="shrink-0 sticky bottom-0 h-fit hidden md:flex flex-col justify-center items-center gap-6 px-10"
            >
                <a
                    title="github"
                    href={githubUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:scale-110 duration-200 text-text hover:text-primary"
                >
                    <Icon size={24} name="github" />
                </a>
                <a
                    title="linkedin"
                    href={linkedinUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:scale-110 duration-200 text-text hover:text-primary"
                >
                    <Icon size={24} name="linkedin" />
                </a>
                <a
                    title="twitter"
                    href={twitterUrl}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:scale-110 duration-200 text-text hover:text-primary"
                >
                    <Icon size={24} name="twitter" />
                </a>

                <div class="w-[1px] h-24 bg-text"></div>
            </div>

            <div class="flex-1 w-full mb-auto px-2 max-w-5xl">
                <slot />
            </div>

            <div
                class="shrink-0 sticky bottom-0 h-fit hidden md:flex flex-col justify-center items-center gap-6 px-10"
            >
                <a
                    href="mailto:keshab.chai0@gmail.com"
                    style={{ writingMode: "vertical-rl" }}
                    class="hover:-translate-y-1 duration-200 text-text hover:text-primary"
                >
                    keshab.chai0@gmail.com
                </a>
                <div class="w-[1px] h-24 bg-text"></div>
            </div>
        </div>
    </body>
</html>
