---
import { Icon } from "astro-icon/components";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import background from "../assets/background.svg";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import { socials } from "../data/socials.ts";

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en" class="dark">
    <head>
        <script is:inline>
            function applyTheme() {
                const t = localStorage.getItem("theme");
                if (!t || t === "dark") {
                    document.documentElement.classList.add("dark");
                } else {
                    document.documentElement.classList.remove("dark");
                }
            }

            applyTheme();

            document.addEventListener("astro:after-swap", applyTheme);
            document.addEventListener("astro:after-navigation", applyTheme);
        </script>

        <Head title={title} description={description} />
        <ClientRouter />
    </head>
    <body>
        <img
            id="background"
            src={background.src}
            aria-hidden="true"
            fetchpriority="high"
        />

        <Navigation />

        <div class="flex justify-between items-end">
            <aside
                aria-label="Social links"
                class="shrink-0 sticky bottom-0 h-fit hidden lg:flex flex-col justify-center items-center gap-6 px-12"
            >
                <a
                    title="github"
                    href={socials.github}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:scale-110 duration-200 text-text hover:text-primary transition-all"
                >
                    <span class="sr-only">Github</span>
                    <Icon size={24} name="github" />
                </a>
                <a
                    title="linkedin"
                    href={socials.linkedin}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:scale-110 duration-200 text-text hover:text-primary transition-all"
                >
                    <span class="sr-only">Linkedin</span>
                    <Icon size={24} name="linkedin" />
                </a>
                <a
                    title="twitter"
                    href={socials.twitter}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:scale-110 duration-200 text-text hover:text-primary transition-all"
                >
                    <span class="sr-only">Twitter</span>
                    <Icon size={24} name="twitter" />
                </a>

                <div class="w-[1px] h-24 bg-text"></div>
            </aside>

            <div class="flex-1 w-full mb-auto px-2 max-w-5xl">
                <main>
                    <slot />
                </main>
                <Footer />
            </div>

            <aside
                aria-label="Email"
                class="shrink-0 sticky bottom-0 h-fit hidden lg:flex flex-col justify-center items-center gap-6 px-12"
            >
                <a
                    href={`mailto:${socials.email}?subject=Hello%20from%20your%20website!`}
                    style="writing-mode: vertical-rl;"
                    class="hover:-translate-y-1 duration-200 text-text hover:text-primary transition-all"
                >
                    {socials.email}
                </a>
                <div class="w-[1px] h-24 bg-text"></div>
            </aside>
        </div>
    </body>
</html>
